<div class="card">
  <img src="ruta_de_la_imagen_1" class="card-img-top" alt="Proyecto 1">
  <div class="card-body">
    <h5 class="card-title">Proyecto 1</h5>
    <p class="card-text">Descripción del proyecto 1.</p>
    <%= link_to "Ver más", "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="card">
  <img src="ruta_de_la_imagen_2" class="card-img-top" alt="Proyecto 2">
  <div class="card-body">
    <h5 class="card-title">Proyecto 2</h5>
    <p class="card-text">Descripción del proyecto 2.</p>
    <%= link_to "Ver más", "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="card">
  <img src="ruta_de_la_imagen_3" class="card-img-top" alt="Proyecto 3">
  <div class="card-body">
    <h5 class="card-title">Proyecto 3</h5>
    <p class="card-text">Descripción del proyecto 3.</p>
    <%= link_to "Ver más", "#", class: "btn btn-primary" %>
  </div>
</div>

